﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Lab01_1212590.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h2>MSSV: 1212590</h2>
        <h2>Họ tên: Lê Khánh Sơn</h2>
        <h2>Email: 1212590@student.hcmus.edu.vn</h2>
        <h2>Ảnh đại diện: </h2>
        <img src="Images/1212590.jpg" height="356px" width="536px" />
    </div>
    </form>
</body>
</html>
